* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(30, 30, 52);
    padding: 60px 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
max-width: 100%;
padding: 50px 0;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 25px;
    margin: 25px 0;
    border-radius: 20px;
    transition: background 0.6;
}
.btn:hover{
    background:brown;
}
.header {
    background: white;
}
.header .row{
    margin-top: 60px;
}
.categories{
    margin: 60px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 25px;
}
h2{
    color: black;
    text-align: center;
    padding-bottom: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
}
.col-4 img{
    width: 100%;
}
.footer{
    background: rgb(30, 30, 52);
    color:  white;
    padding: 60px 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 100;
    margin-bottom: 20px;
    width: 180px;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: white;
        width: 100px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
   